<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Welcome, {{ name }} 👋</h1>

    <h2>Total Income</h2>
    <h1>₹ {{ income }}</h1>

    <h2>Total Expense</h2>
    <h1>₹ {{ expense }}</h1>

    <h2>Current Savings</h2>
    <h1>₹ {{ savings }}</h1>

    <a href="/income" class="btn">Add Income</a>
    <a href="/expense" class="btn">Add Expense</a>

    <hr><br>

    <h2>Recent Expenses</h2>

    {% if expenses %}

        <table style="margin:auto; width:80%;">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>

            {% for item in expenses %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.category }}</td>
                <td>₹ {{ item.amount }}</td>
            </tr>
            {% endfor %}

        </table>

    {% else %}

        <p>No expenses added yet.</p>

    {% endif %}

    <br>
    <a href="/budget" class="btn">Generate AI Budget</a>
    <br>
    <a href="/report" class="btn">Monthly Report</a>
    <br><br>
    <a href="/logout">Logout</a>

</div>

</body>
</html>