<!DOCTYPE html>
<html>
<head>
    <title>Login - Personal Finance Advisor Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>

        <form method="POST">

    <input type="email" name="email" placeholder="Email" required><br><br>

    <input type="password" name="password" placeholder="Password" required><br><br>

    <button class="btn">Login</button>

</form>

        <p><br>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>